*{
    margin: 0;
}


.user-card-amigo {
    display: flex;
    gap: 10px;

    img {
        height: 54px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}